{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta de liberacion</title>
</head>
<body>
    <h2 style=" font-size:20px;text-align:center; font-family: font-family: 'Titillium Web', sans-serif;">Carta de liberacion.</h1>
      <br>
      <p style="font-size:20px; font-family: font-family: 'Titillium Web', sans-serif;">Se otorga la siguiente carta al Alumno/a <strong> {{alum.nombre}} {{alum.apellidos}} </strong>con numero de control {{alum.numeroControl}} de la carrera {{alum.carrera}} para validar que no cuenta con adeudo alguno en ningun laboratorio. </p>
      <br>
      <p style="font-size:20px; font-family: font-family: 'Titillium Web', sans-serif;"> </p>
      <br>


</body>
</html>
